<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
  <div class="content">
    <div class="logo-container">
      <a href="/admin" class="d-flex align-items-center text-white logo-link">
        <span class=" logo">ჩამშვებ<span>ი</span><sub>ა.</sub></span>
      </a>
    </div>
    <hr />
    <nav class="navigation">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" routerLink="panel" routerLinkActive="active">
          პანელი
        </li>
        <li routerLink="main" routerLinkActive="active">მთავარი</li>
        <li routerLink="data" routerLinkActive="active">ბარბარიზმები</li>
        <li routerLink="morphologies" routerLinkActive="active">მორფოლოგიები</li>
        <li routerLink="statistics" routerLinkActive="active">სტატისტიკა</li>
        <li routerLink="users" routerLinkActive="active">მომხმარებლები</li>
        <li routerLink="blog" routerLinkActive="active">ბლოგი</li>
        <li (click)="signOut()">გასვლა</li>
      </ul>
    </nav>
  </div>
</div>
