:host{
    height: 100%;
    .sidebar{
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .logo-container{
                width: 85%;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid white;
                padding-bottom: 15px;
                .logo-link{
                    .logo{
                    
                        span{
                            color: #f6ff00;
                        }
                        sub{
                            font-size: small;
                        }
                    }
                }
            }
            .navigation{
                width: 100%;
                ul{
                    li{
                        border: 1px solid #035569;
                        border-radius: 13px;
                        margin-bottom: 15px;
                        padding: 15px 0 15px 30px;
                        font-family: 'firago';
                        cursor: pointer;
                        &:hover{
                            background-color: #035569;
                        }
                        
                    }
                    li.active{
                        background-color: #035569;
                    }
                }
            }
        }
        .user{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            .img-div{
                border: 1px dotted #f6ff00;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                padding: 5px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            strong{
                font-family: 'formula';
            }
        }
    }
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: none;
}