<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
  <div class="content">
    <div class="logo-container">
      <a href="/admin" class="d-flex align-items-center text-white logo-link">
        <span class="fs-4 logo">ჩამშვებ<span>ი</span><sub>ა.</sub></span>
      </a>
    </div>
    <hr />
    <nav class="navigation">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" routerLink="panel" routerLinkActive="active">
          პანელი
        </li>
        <li routerLink="main" routerLinkActive="active">მთავარი</li>
        <li routerLink="data" routerLinkActive="active">მონაცემები</li>
        <li routerLink="statistics" routerLinkActive="active">სტატისტიკა</li>
        <li routerLink="users" routerLinkActive="active">მომხმარებლები</li>
      </ul>
    </nav>
  </div>
  <hr />
  <div class="user">
    <div class="img-div">
      <img src="../../../assets/images/bg.png" alt="user" />
    </div>
    <strong>username</strong>
  </div>
</div>
