.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card{
        cursor: pointer;
        padding: 2rem 0;
        background-color: #035569;
        color: white;
        font-family: 'firago';
        border-radius: 1rem;
        text-align: center;
        a{
            color: white;
        }
    }
}