<section class="register">
    <div class="form">
        <div class="name">
            <h1>რეგისტრაცია</h1>
        </div>
        <form>
            <div class="email">
                <fa-icon [icon]="faPerson"></fa-icon>
                <input type="email"  placeholder="ელ.ფოსტა">
            </div>
            <div class="password">
                <fa-icon [icon]="faLock"></fa-icon>
                <input type="password" placeholder="პაროლი">
            </div>
            <div class="confirmPassword">
                <fa-icon [icon]="faLock"></fa-icon>
                <input type="password"  placeholder="გაიმეორეთ პაროლი">
            </div>
            <button>რეგისტრაცია</button>
        </form>
        <!-- <a [routerLink]="/login">შესვლა</a> -->
    </div>
</section>