<section class="register">
    <div class="form">
        <div class="name">
            <!-- dmmaro -->
            <h1>რეგისტრაცია</h1>
        </div>
        <form>
            <!-- [ALKTallNusxuri] -->
            <div class="email">
                <fa-icon [icon]="faUser"></fa-icon>
                <input type="email"  placeholder="ელ.ფოსტა">
            </div>
            <div class="password">
                <fa-icon [icon]="faLock"></fa-icon>
                <input type="password" placeholder="პაროლი">
            </div>
            <div class="confirmPassword">
                <fa-icon [icon]="faLock"></fa-icon>
                <input type="password"  placeholder="გაიმეორეთ პაროლი">
            </div>
            <!-- [GLKirovi] -->
            <button class="signUp" type="button">რეგისტრაცია</button>
        </form>
        <!-- [GLKirovi] -->
        <a routerLink="/login">შესვლა</a>
        <a routerLink="/" class="main">მთავარი</a>
    </div>
</section>