#name{
    font-size: 20rem;
    font-family: 'tanamedrove';
    span{
        color: yellow;
        text-decoration: underline;
    }
}
#icon-hyphen{
    font-size: 2rem;
    // TODO font
    font-family: 'anastasia';
}
#lex{
    // font-family: 'bpgNino';
    // font-size: 1.3rem;
}