<div class="container">
  <h1>მორფოლოგიები</h1>
  <div class="card">
    <div class="add">
      <form
        *ngIf="morphologyForm"
        [formGroup]="morphologyForm"
        (ngSubmit)="onSubmit()"
      >
        <input
          type="text"
          placeholder="სწორი ფორმა"
          formControlName="Correct_Word"
        />
        <input
          type="text"
          placeholder="არასწორი ფორმა"
          formControlName="Wrong_Word"
        />
        <div class="buttons flex gap-2">
          <button type="submit" *ngIf="!editingMode">დამატება</button>
          <button type="button" *ngIf="editingMode" (click)="updateWord()">
            რედაქტირება
          </button>
          <button
            type="button"
            *ngIf="editingMode"
            class="text-danger"
            (click)="closeEditing()"
          >
            გაუქმება
          </button>
        </div>
      </form>
    </div>
    <div class="data">
      <div class="search">
        <form *ngIf="searchForm" [formGroup]="searchForm">
          <fa-icon [icon]="faSearch"></fa-icon>
          <input type="text" placeholder="ძებნა" formControlName="searchText" />
        </form>
      </div>
      <div class="words">
        <div class="word-card" *ngFor="let morphology of morphologies$ | async">
          <h2>
            {{ morphology.Wrong_Word }} —> {{ morphology.Correct_Word }}
          </h2>
          <div class="actions">
            <fa-icon
              [icon]="faEdit"
              class="text-info pointer"
              (click)="editMode(morphology)"
            ></fa-icon>
            <fa-icon
              [icon]="faTrash"
              class="text-danger pointer"
              (click)="deleteWord(morphology.Id)"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
