<section id="processing-section">
  <div class="processing-container">
    <header>
      <div class="author">
        <div class="img">
          <img
            src="../../../assets/images/authors/galaktion.jpg"
            alt="author"
          />
        </div>
        <div class="name">
          <h2>{{ selectedWork?.fullName }}</h2>
          <h4>{{ selectedWork?.titleName }}</h4>
        </div>
        <div class="birth-date">
          <span>{{ selectedWork?.born }}</span
          ><br />
          <span class="second">—{{ selectedWork?.died }}</span>
        </div>
        <div class="text-info">
          <h2>{{ selectedWork?.writing?.title }}</h2>
          <span>{{ selectedWork?.writing?.year }}</span>
        </div>
      </div>
      <div class="processing-info">
        <div class="in-progress-text">
          <span>მზადდება</span>
        </div>
      </div>
    </header>
    <main>
      <div class="work">
        <div class="work-container">
          <pre class="white">{{ selectedWork?.writing?.text }}</pre>
        </div>
      </div>
      <div class="waiting">
        <div class="while-processing">
          <p>
            ვიდრე დოკუმენტი გამზადდება,<br />
            იკითხე ქართული ლიტერატურა
          </p>
        </div>
        <div class="while-loading" *ngIf="loading">
          <div class="loading">
            <div class="lds-default">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="done" *ngIf="!loading">
          <button>გადმოწერა</button>
        </div>
      </div>
    </main>
  </div>
</section>
