<div class="container">
  <h1>პანელი</h1>
  <div class="cards">
    <div class="card" routerLink="/admin/panel" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">პანელი</h5>
      </div>
    </div>
    <div class="card" routerLink="/admin/data" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">ბარბარიზმები</h5>
      </div>
    </div>
    <div class="card" routerLink="/admin/morphologies" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">მორფოლოგიები</h5>
      </div>
    </div>
    <div class="card" routerLink="/admin/blog" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">ბლოგი</h5>
      </div>
    </div>
    
  </div>
</div>
