<div class="container">
  <h1>პანელი</h1>
  <div class="cards">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">მთავარი</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">მონაცემები</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">სტატისტიკა</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">მომხმარებლები</h5>
      </div>
    </div>
  </div>
</div>
