<section class="upload-file" *ngIf="stepsVar == steps.Uploading">
  <div class="container">
    <h1>დოკუმენტის ატვირთვა</h1>
    <!-- <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
      <img src="../../../assets/images/upload-png.png" alt="upload">
    </div> -->
    <div draggable="true" ngClass="{{ dragAreaClass }}">
      <div class="col-md-12 text-center bla">
        <a href="javascript:void(0)" (click)="file.click()">
          <img src="../../../assets/images/upload-png.png" alt="upload" />
        </a>

        <p>
          <a href="javascript:void(0)" (click)="file.click()"> აირჩიე, </a>
          ან ჩააგდე დოკუმენტი
        </p>
        <span>დოკუმენტი უნდა იყოს ვორდის გაფართოების (doc. docx. rtf.)</span>
        <input
          type="file"
          accept=".doc,.docx,.rtf"
          #file
          [multiple]="false"
          (change)="onFileChange($event)"
          style="display: none"
        />
      </div>
    </div>
    <div class="error" *ngIf="error">Only one file at time allow</div>
  </div>
</section>
<!--  -->
<section class="overview" *ngIf="stepsVar == steps.Overview">
  <h1>გადახედე დოკუმენტს</h1>
  <div class="overview-container">
    <main class="overview-main">
      <div class="text-container">
        <!-- <div id="bla"></div> -->
        <!-- <div ng-include src="{{htmlPages['1']}}"></div> -->
        <div id="bla"  style="width: 100%;max-height: 400px;background: white;overflow-y: scroll; color: black; padding: 0.5rem;"></div>
      </div>
      <app-second-loading></app-second-loading>
      <div class="pagination">
        
        <!-- <nav>
          <ul class="pagination-ul">
            <li *ngFor="let ind of pageCount;let i = index" class="page-item" style="cursor: pointer;"><a class="page-link" (click)="changePage(i+1)">{{i+1}}</a></li>
            <ng-container *ngFor="let ind of pageCount;">
          </ng-container>
          </ul>
        </nav> -->
      </div>
    </main>
    <footer>
      <div class="options">
        <form class="parentForm" *ngIf="parentForm" [formGroup]="parentForm">
          <div class="CleanSpacesParent">
            <input
              type="checkbox"
              id="CleanSpacesParent"
              formControlName="cleaning"
            />
            <label for="CleanSpacesParent">გასუფთავება</label>
          </div>

          <div class="HypParent">
            <input type="checkbox" id="HypParent" formControlName="hyp" />
            <label for="HypParent">გადატანები</label>
          </div>
        </form>
        <form
          class="cleaningsForm"
          *ngIf="optionsForm && showOptionsForm"
          [formGroup]="optionsForm"
        >
          <div class="CleanSpaces">
            <input
              type="checkbox"
              id="CleanSpaces"
              formControlName="cleanSpaces"
            />
            <label for="CleanSpaces">CleanSpaces</label>
          </div>
          <div class="CleanExcessParagraphs">
            <input
              type="checkbox"
              id="CleanExcessParagraphs"
              formControlName="cleanExcessParagraphs"
            />
            <label for="CleanExcessParagraphs">CleanExcessParagraphs</label>
          </div>
          <div class="CleanNewLines">
            <input
              type="checkbox"
              id="CleanNewLines"
              formControlName="cleanNewLines"
            />
            <label for="CleanNewLines">CleanNewLines</label>
          </div>
          <div class="CleanTabs">
            <input type="checkbox" id="CleanTabs" formControlName="cleanTabs" />
            <label for="CleanTabs">CleanTabs</label>
          </div>
          <div class="CorrectPDashStarts">
            <input
              type="checkbox"
              id="CorrectPDashStarts"
              formControlName="correctPDashStarts"
            />
            <label for="CorrectPDashStarts">CorrectPDashStarts</label>
          </div>
        </form>
      </div>
      <!-- <div class="pagination">
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link">Previous</a></li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">Next</a></li>
          </ul>
        </nav>
      </div> -->
      <div class="next">
        <button (click)="next()">დაწყება</button>
      </div>
    </footer>
  </div>
  
</section>
<!--  -->
<section id="processing-section" *ngIf="stepsVar == steps.Processing">
  <div class="processing-container">
    <header>
      <div class="author">
        <div class="img">
          <img src="{{ selectedWork?.img }}" alt="author" />
        </div>
        <div class="name">
          <h2>{{ selectedWork?.fullName }}</h2>
          <h4>{{ selectedWork?.titleName }}</h4>
        </div>
        <div class="birth-date">
          <span>{{ selectedWork?.born }}</span
          ><br />
          <span class="second">—{{ selectedWork?.died }}</span>
        </div>
        <div class="text-info">
          <h2>{{ selectedWork?.writing?.title }}</h2>
          <span>{{ selectedWork?.writing?.year }}</span>
        </div>
      </div>
      <div class="processing-info">
        <div class="in-progress-text">
          <!-- <span
            *ngIf="!fileProcessing && !doneProcessing"
            (click)="startProcessing()"
            >დაწყება</span
          > -->
          <span *ngIf="fileProcessing">მზადდება</span>
        </div>
      </div>
    </header>
    <main>
      <div class="work">
        <div class="work-container">
          <pre class="white">{{ selectedWork?.writing?.text }}</pre>
        </div>
        <div class="nextWork">
          <span (click)="pickWork(1)">შემდეგი</span>
        </div>
      </div>
      <div class="waiting">
        <div class="while-processing">
          <p>
            ვიდრე დოკუმენტი გამზადდება,<br />
            იკითხე ქართული ლიტერატურა
          </p>
        </div>
        <div class="while-loading" *ngIf="fileProcessing">
          <div class="loading">
            <div class="lds-default">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="whileProcessing">
          <p *ngIf="whileWorkingVar == whileWorking.Cleaning">
            მიმდინარეობს დოკუმენტის გასუფთავება...
          </p>
          <p *ngIf="whileWorkingVar == whileWorking.Hyp">
            დოკუმენტის გასუფთავება დასრულებულია...
          </p>
          <p *ngIf="whileWorkingVar == whileWorking.Hyp">
            მიმდინარეობს გადატანების დამატება...
          </p>
          <p *ngIf="whileWorkingVar == whileWorking.Done">
            გადატანების დამატება დასრულებულია...
          </p>
        </div>
        <div class="done" *ngIf="doneProcessing">
          <button (click)="save()">გადმოწერა</button>
          <button (click)="saveAsPDF()">გადმოწერა პდფ ფორმატით</button>
          <app-second-loading></app-second-loading>
        </div>
      </div>
    </main>
  </div>
</section>
