<section class="upload-file" *ngIf="stepsVar == steps.Uploading">
  <div class="container">
    <h1>დოკუმენტის ატვირთვა</h1>
    <!-- <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
      <img src="../../../assets/images/upload-png.png" alt="upload">
    </div> -->
    <div draggable="true" ngClass="{{ dragAreaClass }}">
      <div class="col-md-12 text-center bla">
        <a href="javascript:void(0)" (click)="file.click()">
          <img src="../../../assets/images/upload-png.png" alt="upload" />
        </a>

        <p>
          <a href="javascript:void(0)" (click)="file.click()"> აირჩიე, </a>
          ან ჩააგდე დოკუმენტი
        </p>
        <span>დოკუმენტი უნდა იყოს ვორდის გაფართოების (doc. docx. rtf.)</span>
        <input
          type="file"
          accept=".doc,.docx,.rtf"
          #file
          [multiple]="false"
          (change)="onFileChange($event)"
          style="display: none"
        />
      </div>
    </div>
    <div class="error" *ngIf="error">Only one file at time allow</div>
  </div>
</section>
<!--  -->
<section class="overview" *ngIf="stepsVar == steps.Overview">
  <h1>გადახედე დოკუმენტს</h1>
  <div class="overview-container">
    <main class="overview-main">
      <div class="text-container">
        ლორემ იპსუმ გაფანტულია ვიტან სიმონეს ბეღურების ცეცხლმოკიდებული შეუერთდა
        პერსპექტივის კრისტალებით. მოხსნის ხელყოფდა თვალყურს, ჩამომახრჩონ
        გავყვეთ, სთოხნის ასახიჩრებდნენ მოჰგვარა გათავებამდე ხელნაწერი გადაბუგულ
        დაცურავდა. დავინახოთ გამოტრიალება კეთლი გადაბუგულ, სთოხნის ხელყოფდა
        ვერტიკალზე წაგასმევინებდი უცხოური სასვენია გადაიქცეოდეს. მოჰგვარა
        გადაიქცეოდეს წასულიყვნენ ციკლურობის საათამდე უსასოო დასარბევად.
        შეერივნენ საათამდე გაუწევდა, ვინა მინაშენი ვიტან ფორმით ამოძრავებულ
        აპატიებდნენ. ვერტიკალზე ჰყვარობენ შეერივნენ შეფასება მმომეცი
        ნავსაყუდელიდან წლეულს მოკითხვას, გამოტრიალება გაიმეორეს წყვდიდში,
        უცხოური ნაკვთს. ჩაყვანაც ისვამდა შეფასება, გაჩენა თვალყურს სთოხნიან
        მმომეცი. უცხოური გაფანტულია დანას ჰყვარობენ, მალე გაკვირდებაო
        ჩამომახრჩონ მოკითხვას პარკიდან საათამდე გულებზედ. მობრუნდნენ ვინა
        ჰქონია, ამოიხრიალა ხელნაწერი შეერივნენ ვერტიკალზე მეფეებსა გაუწევდა
        გამოუღადრა. რუსო ხელოვნებათმცოდნეობის შევუგინე ჩასწია, გვარდია, გვიშლის
        ვადაგასულ ნათქვამსა. დანაიამ ბრუტ მოკვდავისათვის შემატყობინე იდეოლოგიურ
        რუსო მოახდნდა უჩიოდეს, ხელოვნებათმცოდნეობის კომპანიაში ჩასწია წაგივიდა.
        დიდგვაროვანთა ხვიხვინებდა იდეოლოგიურ ვერასა შემიბრალებდა, გოლგოთის
        დანაიამ ელანდება გასაგონი. ნარინჯისფერ მოგერიებას ანძრევ,
        ხელოვნებათმცოდნეობის ჩააქსოვა რუსო უჩიოდეს ჩასწია აუცილებელიცაა.
        ნაცრისფერ ჩააქსოვა გვარდია უსასრულობა რუსო ვერასა ვადაგასულ
        გამოაცხადებდი, კომპანიაში ნათქვამსა მიგნებაა. მოგერიებას გადმოხტა
        მაწამებს უჩიოდეს გვიშლის ქვეყნებისაკენ გამოაცხადებდი შემატყობინე,
        მისულმა ვერასა ნაცრისფერ მადიგანი. გაშიშვლება გასცინებია ბალეტი
        თბილისელი გაცომებული აუჩვილდა ამოდგომა თანდასწრებით შინაგან მოწმედ
        კომპიუტერს ამხტარა რევოლუციონერი კოჭლობა ჯვარცმული. იღება იტალიის
        გადამარჩინე გავითბე შინაგან კოჭლობა ჯვარცმული, ბალეტი, თბილისელი თაფლს.
        თაფლს მაპატივეთ ბარიდან კრებულში მომწონდა თანდასწრებით. ეტკიცა კოჭლობა
        ღმერთისაა ბარბი, მომწონდა თანდასწრებით უარესად სხეულში, ამოდგომა ხატია
        წარბებ. შინაგან კაცობრიობისთვის კრებულში ტარიელ ღმერთისაა მოტანას.
        ამასობაში მარილი ვსვამდი ჩატეხილ, მელოდიაში ჩვენებით ღმერთთან,
        გატაცებულმა დაამწკრივა მიხდებოდა პარიზსა. მოსილ ბოშას ტიპებს ჯივაშვილს
        მოეხიბლა ტომარა მარიხი მცირეწლოვნება ვკითხულობ გარემომცველი დაწყნარდა
        განვსხვავდებოდი წუწკი. უწოდებდით წუწკი ვცადოთ ბიძიებმა ახდენენ ბუჩქიც.
        აღწერილ რომანტიკული ესთეტიზაცია ბიძიებმა, სანხაობა თურქმენეთმა
        ყველანაირად ბურჯუები გამიარა მელოდიაში. პათოლოგი აპარატურის ძაღლებისთვის
        გამიარა მოექცეოდა პირობას მოსილ აღწერილ პარაზიტული მონათლული. კნეინამ
        მოგხვდებათ ესთეტიზაცია ტახტში ახდენენ მესმოდა. დაწვავდნენ ბიჭოს ტემპით
        ქვეყანაზედა მიგებსო გადაქცევა მამაცი. დიანბეგის სატანჯველთან მეფურად
        დაფარულად ზარის დასახიჩრებას. ეჭირა დაფარულად დღისთვის სამაისო
        მოუსმენდნენ, ძმაოს ზარის. სხეულით მოგცემ ისროდნენ ნახე ძმაოს კლდიდად,
        შეიშალა, ცეკვავენ სახელმწიფოებრიობის სინჯავდა განვიზრახეთ გიორგაძე
        იხოცებოდნენ. შეჰყეფა გაყოფა სამაისო მღვდლობაში უდანაშაულოდ დამატიცებელ
        ხალხია. მონაპოვარსაც დაფარულად სიმართლესა მოგვიკითხა გაერთიანებას
        ასცდებათ რძლებიც, შესაკითხი სახელმწიფოებრიობის. ატაცებულმა გაჰყვეთ
        შეჰყეფა, ასცდებათ რჩევდა თანაგრძნობით ისროდნენ მოჰგვრის მოგცემ კითხულობ.
        მოჰგვრის გულუბრყვილოდ ხანგრძლივსა ვინერვიულო, მონაპოვარსაც დასახიჩრებას
        კლდიდად მიემგზავრებოდა ლექსებს დიანბეგის ემჯობინებინა ნახე. მოგცემ
        მეფურად ხალხია გიორგაძე მკერდზე დაკრიჭა ასცდებათ შესაკითხი მამაცი
        ქვეყანაზედა შეჰყეფა გადაქცევა. ბაღჩის კარნავალი ჩამჩურჩულა პალატაში,
        მოიდენდა, განახებო დალუქული მარშრუტის დამცინავმა კაბებში ყაჩაღებზე
        გავშალე. გენიშნებინა კარნავალი გგვანებიან ბაღჩის ჯიბეებიდან მიბარბაცდა
        გავსკდებოდი უამისოდ ქულასავით ნდობა ვილაპარაკეთ. ხიდიც შეინახე მორგვის
        გზებითა, გენიშნებინა, გამახსენა იც დაგიზეპირებია ლინჩის კაბებში
        მალაპარაკებს ფრანცისკო გამისკდეს გაწყენს ღარიბები. კარნავალი კასტანეტებს
        ანძასთან თანამგზავრი გენიშნებინა, ჩარექას ნდობა შერეკილებში ერთობა
        ჭყივილს. ბაღჩის პიროვნებაა შეინახე გულმოდგინებასო დამცინავმა ღარიბები
        გენიშნებინა ბოროვჩიკზეც ბაღების გულშვებით ნინიკამა ქულასავით ბატივით
        ნეკროფილური თანამგზავრი. ვიხედებით გულმოდგინებასო ჰკიდებდაო უამისოდ
        გაწყენს, გოოოლ კაბებში მარშრუტის. ჩარექას პროფესიით უამისოდ ვიხედებით
        ბაღჩის გაითქვამდა ადიდებდნენ დაგიზეპირებია, აითვალწუნებენ მსხვერპლებს
        ქვრვის ჰკიდებდაო, მენაღვლება ჰემინგუეი გადაემტერა. განახებო თანამგზავრი
        ჩარექას ჰერტბორტს პიროვნებაა გგვანებიან შერეკილებში გზებითა ჰემინგუეი
        დამცინავმა.
      </div>
    </main>
    <footer>
      <div class="bla"></div>
      <div class="pagination">
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link">Previous</a></li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">Next</a></li>
          </ul>
        </nav>
      </div>
      <div class="next">
        <button (click)="next()">შემდეგი</button>
      </div>
    </footer>
  </div>
  <!-- <div class="logo">
    <div class="rec"></div>
    <h1>ჩამშვები</h1>
  </div>
  <div class="cont">
    <h1>გადახედე დოკუმენტს</h1>
    <div class="text-cont">
      <div class="text"></div>
      <div class="pagination">
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" >Previous</a></li>
            <li class="page-item"><a class="page-link" >1</a></li>
            <li class="page-item"><a class="page-link" >Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <p (click)="next()">შემდეგი</p>
  </div> -->
</section>
<!--  -->
<section id="processing-section" *ngIf="stepsVar == steps.Processing">
  <div class="processing-container">
    <header>
      <div class="author">
        <div class="img">
          <img src="{{ selectedWork?.img }}" alt="author" />
        </div>
        <div class="name">
          <h2>{{ selectedWork?.fullName }}</h2>
          <h4>{{ selectedWork?.titleName }}</h4>
        </div>
        <div class="birth-date">
          <span>{{ selectedWork?.born }}</span
          ><br />
          <span class="second">—{{ selectedWork?.died }}</span>
        </div>
        <div class="text-info">
          <h2>{{ selectedWork?.writing?.title }}</h2>
          <span>{{ selectedWork?.writing?.year }}</span>
        </div>
      </div>
      <div class="processing-info">
        <div class="in-progress-text">
          <span
            *ngIf="!fileProcessing && !doneProcessing"
            (click)="startProcessing()"
            >დაწყება</span
          >
          <span *ngIf="fileProcessing">მზადდება</span>
        </div>
      </div>
    </header>
    <main>
      <div class="work">
        <div class="work-container">
          <pre class="white">{{ selectedWork?.writing?.text }}</pre>
        </div>
      </div>
      <div class="waiting">
        <div class="while-processing">
          <p>
            ვიდრე დოკუმენტი გამზადდება,<br />
            იკითხე ქართული ლიტერატურა
          </p>
        </div>
        <div class="while-loading" *ngIf="fileProcessing">
          <div class="loading">
            <div class="lds-default">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="done" *ngIf="doneProcessing">
          <button (click)="save()">გადმოწერა</button>
          <button (click)="saveAsPDF()">გადმოწერა პდფ ფორმატით</button>
        </div>
      </div>
    </main>
  </div>
</section>
