<app-header></app-header>
<main>
  <div class="flex flex-wrap" *ngIf="posts$ | async as posts">
    <div class="w-100pc md-w-33pc p-10" *ngFor="let post of posts">
      <a
        href="#"
        class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300"
      >
        <img
          class="w-100pc"
          src="{{post.img}}"
          alt="image"
        />
        <p class="fw-600 white fs-m3 mt-3">{{post.title}}</p>
        <div class="indigo fs-s3 italic after-arrow-right my-4">
          {{post.status}}
        </div>
      </a>
    </div>
  </div>
</main>