<section class="about-us">
  <!-- <h1>ჩვენ შესახებ</h1> -->
  <div class="img-cont">
    <img src="../../../assets/images/Pauthors.png" alt="authors">
  </div>
  <h1>ჩვენ შესახებ</h1>
  <div class="container-container">
    <div class="text-container">
      <p>
        ჩამშვები 2022 წელს მომზადდა საბაკალავრო ნაშრომისთვის და ის ქართული ენის
        სისწორეზე ორიენტირებული პროგრამაა.
      </p>
      <p>
        ამ პროექტს თეკლა აივაზაშვილი, ლაშა ტავლალაშვილი და ლუკა კუხიანიძე
        უძღვნებოდნენ
      </p>
      <p>
        ამავე წელს გამოვიდა პროგრამის პირველი ვერსია რომელიც, ამ დროისთვის,
        მომხმარებელს სთავაზობს:
      </p>
      <p>უფასო ვერსიის შემთხვევაში</p>
      <p>ტექსტების დამარცვლას, გადატანას 8 გვერდამდე.</p>
      <p>მორფოლოგიის შემოწმებას</p>
      <p>კორექტურას.</p>
      <p>ფასიანი ვერსიის შემთხვევაში:</p>
      <p>ულიმიტო წვდომას ყველა ფუნქციაზე</p>
      <p>გადმოსაწერ პროგრამას, რომელიც ინტერნეტის გარშე მუშაობს</p>
      <p>რა ფუნქციები აქვს ამ დრომდე აპლიკაციას?</p>
      <p>ბარბარიზმების ლექსიკონი</p>
      <p>ბარბარიზმების ლექსიკონში ჩვენ შევეცადეთ შეგვეგროვებინა ისეთი სიტყვები, რომლებიც მარტივად დამკვიდრდა ქართულ ენაში, თუმცა შესატყვისი მოიძებნება. ამიტომ, ჩვენი პროგრამა ტექსტს ამოწებს, ხოლო თუკი ბარბარიზმი იპოვა, მომხმარებელს შესაბამისს სინონიმს სთავაზობს.</p>
      <p>კორექტორი</p>
      <p>კორექტორი როგორც ბარბარიზმებს ამოწებს, ასევე სიტყვებს შორის გარკვეული გრამატიკული ნორმების შემოწმებისაც ახერხებს.</p>
      <p>გადატანები</p>
      <p>გადატანები ჩვენი მთავარი ჩანაფიქრია.</p>
      <p>ეს ფუნქცია როგორც ბეჭდური მედიისთვისაა, ისე ნებისმიერი მომხმარებლისთვის, რომელსაც ქართულ ენაზე შესრულებულ დოკუმენტზე უწევს მუშაობა</p>
      <p>ამ პროგრამას რამდენიმე წუთში შეუძლია მთლიანი წიგნის დასაკაბადონებლად გამზადება.</p>
      <p>ეს გარკვეული ეკოპროექტიცაა, ვინაიდან ხაზებს შორის კარგად განლაგებულ ტექსტს ადგილის დაზოგვა შეუძლია, ხოლო დაზოგილ ადგილს გვერდზე - ქაღალდის. რაც ნაკლები ქაღალდი დაიხარჯება, მით ნაკლები ხე გაიჩეხება.</p>
    </div>
  </div>
  
</section>
