<section class="editor">
  <h1>კორექტორი</h1>
  <div class="editor-container">
    <header>
      <div class="bla"></div>
      <div class="check">
        <button (click)="checkText()">შეამოწმე</button>
      </div>
      <div class="auto">
        <input type="checkbox" name="" id="auto" />
        <label for="auto">ავტომატური</label>
      </div>
    </header>
    <main class="editor-main">
      <div class="text-container">
        <form *ngIf="editorForm" [formGroup]="editorForm">
          <div id="bla"
            contenteditable="true"
            style="width: 200px; height: 200px"
          ></div>
          <!-- <textarea contenteditable="true" formControlName="htmlContent" cols="30" rows="10"></textarea> -->
          <!-- <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor> -->
        </form>
      </div>
      <div class="corrections">
        <header>
          <span>შედეგები:</span>
        </header>
        <main class="words-container">
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>სიტყვა</p>
          </div>
          <div class="word">
            <p>bla</p>
          </div>
        </main>
      </div>
    </main>
    <footer>
      <div class="bla"></div>
      <div class="options">
        <div class="morphology">
          <input type="checkbox" id="morphology" />
          <label for="morphology">მორფოლოგია</label>
        </div>
        <div class="barbarisms">
          <input type="checkbox" id="barbarisms" />
          <label for="barbarisms">ბარბარიზმები</label>
        </div>
      </div>
    </footer>
  </div>
</section>
