#nav-items{
    font-family: 'kirovi';
    a{
        color: white;
        font-size: 1.4rem;
        &:hover{
            //TODO change color
            color: rgb(154, 154, 20);
        }
    }
}

@media only screen and (max-width: 1024px) {
    #nav-items{
        a{
            font-size: 1rem;
        }
    }
  }