<!-- 
<div class="slideshow-container" data-slick>
  <div class="mySlides fade" style="display: none">
    <a target="_lank"
      ><img
        src="../../../../assets/images/Slider1.jpg"
        style="width: 100%"
    /></a>
  </div>
  <div class="mySlides fade" style="display: none">
    <a target="_lank"
      ><img
        src="../../../../assets/images/Slider2.jpg"
        style="width: 100%"
    /></a>
  </div>
  <div class="mySlides fade" style="display: none">
    <a target="_lank"
      ><img
        src="../../../../assets/images/Slider3.jpg"
        style="width: 100%"
    /></a>
  </div>
  <div class="mySlides fade" style="display: none">
    <a target="_lank"
      ><img
        src="../../../../assets/images/Slider4.jpg"
        style="width: 100%"
    /></a>
  </div>
  <div class="dotss" style="text-align: center">
    <span class="dot active" (click)="currentSlide(1)"></span>
    <span class="dot " (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
  </div>
   <button style="display: none">
    <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
  </button>
  <button id="next" style="display: none" (click)="plusSlides(1)">
    <fa-icon [icon]="faArrowCircleRight"></fa-icon>
  </button>
</div> -->
<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  
  id="slick-car"
>
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%" />
    <!-- <div class="dotss" style="text-align: center">
      <span class="dot active" ></span>
      <span class="dot " ></span>
      <span class="dot" ></span>
      <span class="dot" ></span>
    </div> -->
  </div>
</ngx-slick-carousel>
