<section class="editor">
  <h1>ტექსტის დამარცვლა</h1>
  <div class="editor-container">
    <header>
      <div class="bla">
        <button class="noStyles smallerbtn" (click)="onPaste($event)"><fa-icon [icon]="faCopy"></fa-icon> მონიშნულის&nbsp;ჩასმა</button>
        <div class="lds-roller" *ngIf="loading">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="check">
        <button (click)="checkText()">დაწყება</button>
      </div>
      <div class="copy">
        <button class="noStyles" (click)="copyText()">მონიშვნა <fa-icon [icon]="faCopy"></fa-icon></button>
        
        
      </div>
    </header>
    <main class="editor-main">
      <div class="text-container">
        <form>
          <div id="hypCont" contenteditable="true" data-text="ტექსტი..." (keypress)="onKeyPress($event)"></div>
        </form>
      </div>
    </main>
    <footer>
      <div class="options">
        <form class="parentForm" *ngIf="parentForm" [formGroup]="parentForm">
          <div class="CleanSpacesParent">
            <input
              type="checkbox"
              id="CleanSpacesParent"
              formControlName="cleaning"
            />
            <label for="CleanSpacesParent">გასუფთავება</label>
          </div>

          <div class="HypParent">
            <input type="checkbox" id="HypParent" formControlName="hyp" />
            <label for="HypParent">გადატანები</label>
          </div>
        </form>
        <form
          class="cleaningsForm"
          *ngIf="optionsForm && showOptionsForm"
          [formGroup]="optionsForm"
        >
          <div class="CleanSpaces">
            <input
              type="checkbox"
              id="CleanSpaces"
              formControlName="cleanSpaces"
            />
            <label for="CleanSpaces">ჰარების გასუფთავება</label>
          </div>
          <div class="CleanExcessParagraphs">
            <input
              type="checkbox"
              id="CleanExcessParagraphs"
              formControlName="cleanExcessParagraphs"
            />
            <label for="CleanExcessParagraphs">ორმაგი პარაგრაფების გასუფთავება</label>
          </div>
          <div class="CleanNewLines">
            <input
              type="checkbox"
              id="CleanNewLines"
              formControlName="cleanNewLines"
            />
            <label for="CleanNewLines">ქვედა ხაზის პარაგრაფად გადაქცევა</label>
          </div>
          
          <div class="CorrectPDashStarts">
            <input
              type="checkbox"
              id="CorrectPDashStarts"
              formControlName="correctPDashStarts"
            />
            <label for="CorrectPDashStarts">ქართული დეფისი</label>
          </div>
        </form>
      </div>
    </footer>
  </div>
</section>
