<div class="container">
  <h1>ბარბარიზმები</h1>
  <div class="card">
    <div class="add">
      <form *ngIf="barbarismForm" [formGroup]="barbarismForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="სწორი ფორმა" formControlName="wrong_word" />
        <input type="text" placeholder="არასწორი ფორმა" formControlName="correct_word" />
        <input type="text" placeholder="აღწერა" formControlName="description" />
        <button type="submit">დამატება</button>
      </form>
    </div>
    <div class="data">
      <div class="search">
        <form>
          <fa-icon [icon]="faSearch"></fa-icon>
          <input type="text" placeholder="ძებნა" />
        </form>
      </div>
      <div class="words" >
        <div class="word-card" *ngFor="let barbarism of barbarisms$ | async">
          <h2>{{barbarism.Correct_Word}} —> {{barbarism.Description}}</h2>
          
        </div>
      </div>
    </div>
  </div>
</div>
