<div class="container">
  <h1>ბარბარიზმები</h1>
  <div class="card">
    <div class="add">
      <form>
        <input type="text" placeholder="ჩაწერეთ სიტყვა" />
        <input type="text" placeholder="სინონიმი" />
        <input type="text" placeholder="მიზეზი" />
        <button>დამატება</button>
      </form>
    </div>
    <div class="data">
      <div class="search">
        <form>
          <fa-icon [icon]="faSearch"></fa-icon>
          <input type="text" placeholder="ძებნა" />
        </form>
      </div>
      <div class="words">
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
        <div class="word-card">
          <h2>ასპირანტი</h2>
          <h3>ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა ბლა</h3>
        </div>
      </div>
    </div>
  </div>
</div>
