<div class="container">
  <h1>თქვენი გვერდი</h1>
  <div class="card">
    <div class="pic">
      <img src="../../../assets/images/andrew-neel-_71nlAn-2YA-unsplash.jpg" alt="pic">
    </div>
    <div class="usr">
      <div class="user-info">
        <p>{{firstName}} {{lastName}}</p>
      </div>
      <div class="register-date">
        <p>{{registerDate}}</p>
      </div>
      <div class="premium">
        <p>{{premiumVersion? 'პრემიუმი': 'უფასო'}}</p>
      </div>
    </div>
  </div>
</div>
