<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
  <div class="content">
    <div class="logo-container">
      <a href="/user" class="d-flex align-items-center text-white logo-link">
        <span class=" logo">ჩამშვებ<span>ი</span></span>
      </a>
    </div>
    <hr />
    <nav class="navigation">
      <ul class="nav nav-pills flex-column mb-auto">
        <li routerLink="profile" routerLinkActive="active">მომხმარებლის პროფილი</li>
        <li routerLink="download" routerLinkActive="active">გადმოწერა</li>
        <li routerLink="editing" routerLinkActive="active">რედაქტირება</li>
        <li routerLink="notifications" routerLinkActive="active">შეტყობინებები</li>
        <li >გასვლა</li>
      </ul>
    </nav>
  </div>
  <hr />
  <div class="user">
    <div class="img-div">
      <img src="../../../assets/images/bg.png" alt="user" />
    </div>
    <strong>username</strong>
  </div>
</div>
